<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yxb.baihui.baihui">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mainpage.windowview.MainpageActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Toutiaonews.windowview.ToutiaonewsDetailActivity"
            android:label="@string/title_activity_news_detail"
            android:theme="@style/AppTheme_Translucent">

        </activity>
        <activity
            android:name=".meipaivideo.windowview.MeipaivideoDetailActivity"
            android:label="@string/title_activity_meipai_detail"
            android:theme="@style/AppTheme_Translucent">

        </activity>


    </application>

</manifest>